<h3>Update User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="prenom" required ng-Model="user.prenom" name="prenom">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="nom" required ng-Model="user.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="name">Genie</label>
      <input type="text" class="form-control" id="genie" required ng-Model="user.genie" name="genie">
    </div>

    <div class="form-group">
        <label for="name">Matricule</label>
        <input type="text" class="form-control" id="matricule" required ng-Model="user.matricule" name="matricule">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
