<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="node_modules/@angular/forms/bundles/forms.umd.js"></script>
<!------ Include the above in your HEAD tag ---------->


<h3>Create User</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="prenom">First Name</label>
      <input type="text" class="form-control" id="prenom" required ng-Model="user.prenom" name="prenom"/>
    </div>

    <div class="form-group">
      <label for="nom">Last Name</label>
      <input type="text" class="form-control" id="nom" required ng-Model="user.nom" name="nom">
    </div>

    <div class="form-group">
      <label for="genie">Génie</label>
      <input type="text" class="form-control" id="genie" required ng-Model="user.genie" name="genie">
    </div>

    <div class="form-group">
        <label for="matricule">Génie</label>
        <input type="text" class="form-control" id="matricule" required ng-Model="user.matricule" name="matricule">
      </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>