<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Users List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Génie</th>
            <th>Matricule</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | async">
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.genie}}</td>
            <td>{{user.matricule}}</td>
            <td><button (click)="deleteUser(user.matricule)" class="btn btn-danger">Delete</button>
                <button (click)="userDetails(user.matricule)" class="btn btn-info" style="margin-left: 10px">Details</button>
                <button  (click)="userUpdate(user.matricule)" class="btn btn-warning" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
